
<div class="container">
  <div class="center hero-unit">
    <h1>Welcome to the Casino App</h1>

    <h2>
      This is the home page for the casino application.
      <%= link_to "Let`s create tables!",help_path,class:"btn btn-large btn-primary" %>
    </h2>

    <%= form_for(@user,url: create_url) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email %>
          <%= f.submit "Create",class: "btn btn-large btn-success " %> <br />
        </div>
        <%= link_to "Select the tables", '#', class: "btn btn-info btn-large btoggle "%>
        <div class="tables-toggle" style="display: none">
            <% @poker_tables.each do |x| %>

                <%= check_box_tag('user[poker_table_ids][]',x.id )%><!-- # @user.poker_tables.include?(x) -->
                <%= label_tag('user[poker_table_ids][]',x.name)%>
                <br />

            <% end %>
        </div>

    <% end %>
  </div>
</div>
