
<div class="container">
  <div class="center hero-unit">
    <h1>Welcome to the Casino App</h1>

    <h2>
      This is the home page for the casino application.
    </h2>
    <%= form_for(@user,url: create_url) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.submit "Create",class: "" %>
    <% end %>
    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary btoggle"%>
    <div class="tables-toggle" style="display: none">
      <% @poker_tables.each do |t| %>
            <%= t.name %>
            <%= t.start_date %>
      <% end %>
    </div>
  </div>
</div>